# Python
__pycache__/
*.py[cod]
*.egg-info/
.env

# Alembic
migrations/__pycache__/
migrations/versions/__pycache__/

# VSCode / PyCharm
.vscode/
.idea/

# Environment
venv/
*.db

# pytest cache
.pytest_cache/

# OS
.DS_Store
Thumbs.db
